<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<title><%= data.sitename %> </title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:type" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:site_name" content="">

<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="/style/style.css">
<link rel="canonical" href="<%= data.permalink %>">
<script src="/script/what-input.min.js"></script>
</head>
<body>

  <%- include('../_partial/_header', data) %>

  <%- include('../_partial/_share', data) %>

  <%- include('../_partial/_footer', data) %>

<script src="/script/script.js"></script>
</body>
</html>
